body {
     background-color: #333;
}

.clock {
     margin: 200px auto;
     text-align: center;
     color: rgb(0, 110, 255);
     font-size: 5em;
     font-family: sans-serif;
}

.clock span {
     padding: 20px;
     background-color: rgba(7, 7, 7, 0.582);
}